*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f49b;
  color: #333;

}

a{
  text-decoration: none;
  color: #333;
}

h1, h2, h3{
  font-weight: bold;
}

/*style header*/
.header{
  background-color: #4335A7;
  color: white;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  display: flex;
}

.header logo{
  font-size: 24px;
  color: white;
}
.header nav{
  display: flex;
  gap: 40px;
}

.header nav a{
  color: white;
  font-weight: bold;
}

.header nav a:hover{
  text-decoration: underline;
}

/* style footer*/

footer{
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer p{
  margin: 0;
}

/*styles home*/

.hero{
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding-left: 20px;
}

.hero h1{
  font-size: 60px;
  text-shadow: 4px 2px 5px rgba(5, 5, 5, 0.5);
}

.hero p{
  font-size: 30px;
  margin-top: 10px;
  justify-content: center;    
}

.hero button{
  
  padding: 4px;
  background-color: rgb(24, 146, 187);
  border-radius: 4px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;

}

.hero button:hover{
  background-color: #4335A7;
}

/*style about*/

.about{
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  padding: 80px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about h2{
  
  font-size: 60px;
  text-shadow: 4px 2px 5px rgba(5, 5, 5, 0.5);
}
.about-content p{
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  padding-top: 20px;
}

.about-content{
  max-width: 500px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/*food style*/
.foods{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:80px;
  margin: 50px;
}

.foods h2{
  text-align: center;
}

.food-card{
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.food-card img{
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.food-card:hover{
  transform: scale(1.1)

}

.food-card h3{
  margin-top: 12px;
}

.food-card p{
  color: #555;
  font-size: 12px;
}

.food-card .price{
  color: #0070f3;
  font-size: 15px;
  font-weight: bold;
}

.food-card button{
  padding: 4px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: #0070f3;
}

.food-card button:hover{
  background-color: #4335A7;
}


/*style contact*/
.contact-form{
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-color:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 50px auto;
}

.contact h2{
  font-size: 60px;
  text-shadow: 4px 2px 5px rgba(5, 5, 5, 0.5);
}

.contact-form input{
  margin:10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea{
  margin:10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button{
  width: 100%;
  background-color: #0070f3;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.contact-form button:hover{
  background-color: #4335A7;
}


/*add-in Animation*/
@keyframes addIn {
  0%{
      opacity: 0;
      transform: translateY(20px);
  }

  100%{
      opacity: 1;
      transform: translateY(0);
  }
}

.add-in{
  opacity: 0;
  animation: addIn 1s ease-out forwards;
}


/*style responsive*/
@media (max-width: 786px) {
  .header{
      flex-direction: column;
      text-align: center;
  }

  .header .logo{
      margin-bottom: 10px;
  }
  
  .header nav{
      flex-direction: column;
      gap: 20px;
      align-items: center;
  }

  .hero{
      text-align: center;
      height: 70vh;
      padding: 20px;
  }
  .hero p{
      font-size: 18px;
  }
  .hero h1{
      font-size: 36px;
  }
  .hero button{
      width: 100%;
      padding: 12px;
      font-size: 16px;
  }
  .foods{
      grid-template-columns: 1fr;
      margin:20px;
  }
  .about{
      height: auto;
      padding: 40px 20px;
  }
  .about-content{
      width: 100%;
      padding: 20px;
  }
  .contact-form{
      margin: 20px;
      padding: 20px;
  }
}